name: E2E test

on:
  workflow_dispatch:
    inputs:
      cases:
        description: 'specific cases to be excuted. Sample: ["./aad/a.tests.ts", "./bot/b.tests.ts"]. Set empty to run all cases'
        required: false

  schedule:
    - cron: "0 22 * * *"

  pull_request_target:

jobs:
  setup:
#     if: ${{  github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' || (github.event_name == 'pull_request_target' && github.event.pull_request_target.head.repo.full_name == 'teamsfx-bot/Test_MP4')  }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (dev)
        run: |
          echo "setup"       
          echo ${{github.event_name}}
          echo ${{github.event.pull_request_target.head.repo.full_name}}
          
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: secret
        run: |
          echo ${{ secrets.SUPERSECRET }}


  execute-case:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Checkout (dev)
        run: |
          echo "execute-cases"
